@import '~bootstrap/scss/bootstrap';
@import "@fortawesome/fontawesome-free/css/all.min.css";

.client-error-msg{
    font-size: 0.7rem;
    padding-bottom: 0.2rem;
    color: red ;
}

.form-progress-bar{
    background-color: rgba(128, 128, 128, 0.394);
    height: 10px;
    width: 100%;
    border-radius: 10px;
}

.icon-wrap{
    position: relative;

    i{
        cursor: pointer;
        color: #dee2e6;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translate(50%, -50%);
    }
}


