

.client-error-msg {
    font-size: 0.7rem;
    padding-bottom: 0.2rem;
    color: red;
}

.form-progress-bar {
    background-color: rgb(230, 225, 226);
    height: 10px;
    width: 100%;
    border-radius: 10px;
}

.icon-wrap {
    position: relative;

    i {
        cursor: pointer;
        color: #dee2e6;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translate(50%, -50%);
    }
}




.form-control:focus {
    border-color: #0d979eff !important;
    box-shadow: 0 0 0 0.25rem rgba(63, 163, 166, 0.599) !important;
}


.step-name{
    margin-top: 5px;
    font-size: 0.8rem;
    transform: translate(25%, 0);

}
.step-name:first-child{
    transform: translate(-10%, 0);
}

#photoPreview{
    display: inline-block;
    width: 150px;

    img{
        border-radius: 10px;

    }
}


